.footer{
    margin-top: 4rem;
    position: absolute;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 1rem 0;
    p{
        font-size: 18px;
        a{
            color: #69b2fc;
        }
    }
}