$blue1: #69B2FC;
$blue2: #0353a4;
$blue_dark: #001233;

$text_main: rgba(243, 243, 243, 0.87);
$text_secondary: rgb(172, 172, 172);

.home{
    padding-top: 8rem;
    width: 100%;
    box-sizing: border-box;
    padding-left: 45px;
    padding-right: 45px;
}
@media (width<600px) {
    .home{
        padding-left: 0;
        padding-right: 0;
    }
}